body {
    background-color: black;
}
.post-container img{
    height:300px;
    left:490px;
    top: 50px;
    position: relative;
}
.post-title{
   font-family: Arial, Helvetica, sans-serif; 
   font-weight: bold;
   color: white;
   top: 445px;
   left: 485px;
   position: relative;

   font-size: 40px;
}
p{
   top: 120px;
   left: 485px;
   position: relative;
   color: aliceblue;
   font-size: 20px;

}