
.box {
  background-color: blue;
  padding: 10px;
}
p {
  color: yellow;
  padding:0px;
  margin:0;  
}
body{
  border: 10px solid purple;
}
.inner-box{
  color: white;
  border: 0px solid;
  padding:15px;
  background-color:red;
  margin-top: 0px;
}
.white-text{
  color:white;
}
